* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Fira Sans", sans-serif;
}

body {
    background-color: #000000;

}


.app-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.player {
    background-color: #121212;
    padding: 100px 50px;
    width: 414px;
    max-width: 100%;
    border-radius: 16px;
    box-shadow: 0px 2px 6px #1FDF64;
}

.song-img {
    position: relative;
    display: block;
    margin: 0 auto;
    width: 200px;
    border-radius: 50%;
    box-shadow: 0px 3px 8px #1FDF64;
    margin-bottom: 50px;

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    transition: .4s;
}

.song-img:after {
    content: '';
    padding-top: 100%;
    display: block;
}

.song-img:before {
    content: '';
    display: block;
    position: absolute;
    top: -20px;
    left: -20px;
    right: -20px;
    bottom: -20px;
    border: 2px solid #EEE;
    border-radius: 50%;
}

.song-details {
    text-align: center;
    margin-bottom: 30px;
}

.song-details h2 {
    font-size: 24px;
    font-weight: 600;
    color: #ffffff;
    margin-bottom: 5px;
}

.song-details h3 {
    font-size: 16px;
    font-weight: 500;
    color: #888;
}

.player-controls {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.player-controls .play {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background-color: #1FDF64;
    color: #FFF;
    margin: 0 30px;

    border: none;
    appearance: none;
    outline: none;
    cursor: pointer;

    box-shadow: 0px 6px 12px rgba(7, 153, 80, 0.5);
    transition: 0.4s;
}
.player-controls .play:hover {
    width: 85px;
    height: 85px;
}

.player-controls .skip-btn {
    background: none;
    border: none;
    appearance: none;
    cursor: pointer;
    outline: none;

    color: #CCC;
}
.player-controls .skip-btn:hover {
    font-size: 1.2rem;
}

.player-controls .play:hover {
    box-shadow: 0px 8px 16px rgba(22, 197, 109, 0.671);
}

.next-up p {
    color: rgba(136, 136, 136, 0.699);
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    font-weight: bold;
    margin-top: 180px;
}

.next-up p span {
    font-weight: 400;
    font-style: italic;
}

#music-player{
    opacity: .3;
    position: relative;
    top: 510px;
    width: 100%;
    transition: .4s;
}


/******* LIBRARY *******/
.library {
}


/**medias**/
@media (max-width: 414px) {
    .player {
        min-height: 100vh;
        border-radius: 0px;
        padding: 75px 30px;
    }
}
